LUIS_QUERY_URL=https://westeurope.api.cognitive.microsoft.com/luis/v2.0/apps/{APP_ID}?verbose=true&timezoneOffset=0&subscription-key=85acf90ae08245fea3bfe6b50238c1b6&staging=true&q=
BING_SPELL_CHECK_SUBSCRIPTION_KEY=